body{
    background-color: rgb(240, 158, 65);
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.books_container{
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.books_item{
    border: 2px solid #fff;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 20%;
    padding: 10px 15px;

}
.price-genre{
    display: flex;
    justify-content: space-around;
}
h3{
    color: rgb(124, 45, 45);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}